[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dash = "==2.5.1"
pandas = "==2.0.0"
pillow = "==10.0.0"
plotly = "==5.8.2"
torch = "==1.10.0"
parse = "*"
ffmpeg = "*"

[dev-packages]

[requires]
python_version = "3.8"
